<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588706048599-d8de2v3j54u82or001f21tpn2da8p1lg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588706048599-d8de2v3j54u82or001f21tpn2da8p1lg</string>
	<key>API_KEY</key>
	<string>AIzaSyA1bv7UKFnw947Axtm-Znb1sGp0dLW-rzA</string>
	<key>GCM_SENDER_ID</key>
	<string>588706048599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.StecEntertainment.HexagonLapse</string>
	<key>PROJECT_ID</key>
	<string>hexagon-lapse-78918</string>
	<key>STORAGE_BUCKET</key>
	<string>hexagon-lapse-78918.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588706048599:ios:3a1ff8647a058400605112</string>
	<key>DATABASE_URL</key>
	<string>https://hexagon-lapse-78918.firebaseio.com</string>
</dict>
</plist>